<div fxLayout="column" class="form-container">
	<div fxLayout="row" fxLayoutAlign="center center" fxFill>
		<h2 class="form-title">{{title}}</h2>
	</div>
	<div fxFlex="1 1 100%" fxLayout="column" fxFill>
		<ng-container *ngIf="action === 'addDish' || action === 'editDish'">

			<form fxLayout="column" fxLayoutAlign="space-around stretch" fxFill [formGroup]="dishForm" (ngSubmit)="submit()"
				class="example-form" novalidate>

				<mat-form-field class="example-full-width">
					<mat-label>Dish Name *</mat-label>
					<input matInput type="text" placeholder="Type dish name" name="dishName" value="" formControlName="dishName">
					<mat-error *ngIf="form?.dishName?.errors && form?.dishName?.touched"
						[innerHtml]="gfService.validationMsg(form?.dishName)">
					</mat-error>
				</mat-form-field>

				<mat-form-field>
					<mat-label>Dish category *</mat-label>
					<mat-select name="dishCategory" formControlName="dishCategory">
						<mat-option *ngFor="let category of dishCategorys" [value]="category.value">
							{{category.key}}
						</mat-option>
					</mat-select>
					<mat-error *ngIf="form?.dishCategory?.errors && form?.dishCategory?.touched"
						[innerHtml]="gfService.validationMsg(form?.dishCategory)">
					</mat-error>
				</mat-form-field>

				<mat-form-field class="example-full-width">
					<mat-label>Dish type *</mat-label>
					<input matInput type="text" placeholder="Type Dish type" name="dishType" value="" formControlName="dishType">
					<mat-error *ngIf="form?.dishType?.errors && form?.dishType?.touched"
						[innerHtml]="gfService.validationMsg(form?.dishType)">
					</mat-error>
				</mat-form-field>


				<mat-form-field class="example-full-width">
					<mat-label>Amount *</mat-label>
					<input matInput type="number" placeholder="Amount" name="amount" value="" formControlName="amount">
					<mat-error *ngIf="form?.amount?.errors && form?.amount?.touched"
						[innerHtml]="gfService.validationMsg(form?.amount)">
					</mat-error>
				</mat-form-field>

				<mat-form-field class="example-full-width">
					<mat-label>Discount *</mat-label>
					<input matInput type="number" placeholder="Discount in %" name="discount" value="" formControlName="discount">
					<mat-error *ngIf="form?.discount?.errors && form?.discount?.touched"
						[innerHtml]="gfService.validationMsg(form?.discount)">
					</mat-error>
				</mat-form-field>

				<div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="10px">
					<div class="image-container" [ngClass]="{outline: (!form?.dishImage?.value)}" fxLayout="column"
						fxLayoutAlign="center center">
						<ng-container *ngIf="form?.dishImage?.value">
							<img class="file-image" [src]="form?.dishImage?.value"
								onerror="'../../../../assets/images/dummyimg1.png'">
						</ng-container>
						<ng-container *ngIf="!form?.dishImage?.value">
							<p class="image-text" fxLayout="column" fxLayoutAlign="center center" fxFill (click)="triggerFile(file)">
								Choose Dish Image</p>
						</ng-container>
					</div>
					<span>{{fileName}}</span>
					<mat-error *ngIf="form?.dishImage?.errors && form?.dishImage?.touched"
						[innerHtml]="gfService.validationMsg(form?.dishImage)">
					</mat-error>
					<input #file type="file" accept="image/*" hidden (change)="uploadFile($event)" />
					<button type="button" (click)="triggerFile(file)" [disabled]="submitDisable" mat-raised-button
						color="primary">Upload</button>

				</div>


				<!-- <div fxLayout="column" fxLayoutAlign="start stretch"> -->
				<div class="btn-container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
					<button [disabled]="submitDisable" mat-raised-button matRipple class="action-btn" matRipple>
						<ng-container *ngIf="action === 'addDish'">
							Submit
						</ng-container>
						<ng-container *ngIf="action === 'editDish'">
							Update
						</ng-container>

					</button>
					<button [disabled]="submitDisable" (click)="popupRef.close('cancel')" mat-raised-button matRipple
						class="cancel-btn" type="button">Cancel</button>
				</div>

				<!-- </div> -->
			</form>

		</ng-container>
	</div>

</div>
