@import "reusable";

:host {
	height: 100%;
}

.order-detail-container {
	.order-title {
		h2 {
			@extend %title;
			font-size: 1.4rem;
		}
	}

	.order-list {
		padding: 10px;

		.food-detail {
			.dish-type-box {
				position: relative;
				width: 13px;
				height: 13px;
				border-radius: 2px;
				background: rgb(255, 255, 255);

				.symbol {
					width: 7px;
					height: 7px;
					border-radius: 50%;
				}

				&.non-veg {
					border: 1px solid $error;

					.symbol {
						background: $error;
					}
				}

				&.veg {
					border: 1px solid $success;

					.symbol {
						background: $success;
					}
				}

			}

			.food-title,
			.amount {
				@extend %title;
				font-size: 1rem;
			}

			.food-title {
				line-height: 1;
			}

			.dish-quantity-block {
				background-color: $app-primary-one;
				border-radius: 5px;
				font-weight: 600;
				border: 1px solid #e7161ca8;
				font-size: 1rem;

				span {
					height: 30px;
				}

				.add,
				.delete {
					color: $background-one;
					background-color: $app-primary-one;
					font-size: 1rem;
					// border-left: 1px solid $background-one;
				}

				.quantity {
					background-color: $background-one;
					color: $app-primary-one;
					font-weight: 500;

				}
			}
		}
	}

	.payment-block {
		padding: 10px;

		.amount-section {
			background-color: antiquewhite;
			padding: 5px 10px;


			.amount-text,
			.amount {
				@extend %title;
				font-size: 1rem;
			}

			.amount {
				font-weight: 500;
			}
		}

		.btn-container {
			margin: 0;

			.action-btn {
				@extend %action-btn;
				color: $background-one;
				background-color: $app-primary-one;

			}
		}
	}
}
